h1{
    font-family:sans-serif;
    font-variant: small-caps;
    font-size: 5rem;
}
h3{
    font-size: 2rem;
}
.content{
    margin-top:1vw;
}
.progress-bar{
    transition: none;   
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link{
    padding: 0px 0px 0px 0.7em;
}
@media (min-width: 768px){
    .sticky{
        position: fixed;
        height: 100vh;
    }
}
@media (min-width: 768px){
    .head{
        min-height: 50vh;
    }
}
.header-image{
    max-height: 60%;
    width:100%;
}
@media (min-width: 768px){
    .hiv-image{
        width:80%;
        display: block;
        margin: 0 auto;
    }
}
@media (max-width: 768px){
    .hiv-image{
        width:100%;
    }
}
section{
    text-indent: 1em;
}
.section-title{
    text-indent: 0;
}
#citations{
    text-indent: -1em;
}