/*
# CSS Preset
## version 1.0.0
A simple CSS preset to enable box-sizing, set some text rendering options to decrease the differences between browsers, and set a couple of nice defaults.
## Usage
    <link href=preset.css rel=stylesheet>
## Info
- author: Tommy Hodgins
- license: MIT
- website: https://github.com/tomhodgins/preset
*/

h1{
    font-variant: small-caps;
    font-size: 10vw;
}
h2{
    font-size: 2vw;
}

#head{
    background-color: #616161;
    text-align: center;
    color: #fff;
}
.content{
    margin-top:1vw;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link{
    padding: 0px 0px 0px 0.7em;
}
.button{
    border-radius: 3px;
    box-shadow: 0.75vw 0.75vw #9b9b9b;
    background-color: #03a9f4;
    color:#fff;
    -moz-transition: box-shadow 0.1s ease-in;
    -o-transition: box-shadow 0.1s ease-in;
    transition: box-shadow 0.1s ease-in;
    
}
.button:hover{
    box-shadow: 1.5vw 1.5vw #d6d6d6;
    background-color: #FFA000;
}