h1{
    font-variant: small-caps;
    font-size: 5.5rem;
}
h3{
    font-size: 2rem;
}
.content{
    margin-top:1vw;
}
.progress-bar{
    transition: none;   
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link{
    padding: 0px 0px 0px 0.7em;
}
@media (min-width: 768px){
    .sticky{
        position: fixed;
        height: 100vh;
    }
}